<!-- CSS ФАЙЛ-->
h1 {
    font-family: Georgia;
    font-weight: bold;
    font-size: 50px;
}
hr {
    width: 300px;
    margin: 40px auto;
}
.octopus {
    height: 600px;
    position: relative;
    margin: auto;
}
.head{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    
	width: 650px;
	height: 500px;
	background: #8F6CD7;
	border-radius: 300px;
	
}
.black_eye{
    position: absolute;
    top: 30%;
    left: 80%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 35px; 
    height: 35px;
    background: black;
    border-radius: 50%;
}
.white_eye{
    position: absolute;
    top: 30%;
    left: 30%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 15px; 
    height: 15px;
    background: white;
    border-radius: 50%;
}
.white_rectangle {
	width: 250px;
	height: 500px;
	background: white;
    
    position: absolute;
    top: 50%;
    left: 17%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.mouth {
    top: 38%;
    left: 80%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    position: relative;
    width: 100px;
    height:100px;
    border-radius:100%;
    border-top: 15px solid #330570; /*толщина ротика*/
    transform: scaleY(-1); /*разворот ротика вверх*/    
}
.global_leg1{
    position: absolute;
    top: 66px;
    left: 25%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius: 300px;
    width: 800px;
	height: 32.5px;
	background: #E6DEF0;
}
.global_leg2{
    position: absolute;
    top: 107px;
    left: 25%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius: 300px;
    width: 800px;
	height: 32.5px;
	background: #E6DEF0;
}
.global_leg3{
    position: absolute;
    top: 149px;
    left: 25%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius: 300px;
    width: 800px;
	height: 32.5px;
	background: #E6DEF0;
}
.global_leg4{
    position: absolute;
    top: 191px;
    left: 25%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius: 300px;
    width: 800px;
	height: 32.5px;
	background: #E6DEF0;
}
.global_leg5{
    position: absolute;
    top: 233px;
    left: 25%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius: 300px;
    width: 800px;
	height: 32.5px;
	background: #E6DEF0;
}
.global_leg6{
    position: absolute;
    top: 275px;
    left: 25%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius: 300px;
    width: 800px;
	height: 32.5px;
	background: #E6DEF0;
}
.global_leg7{
    position: absolute;
    top: 317px;
    left: 25%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius: 300px;
    width: 800px;
	height: 32.5px;
	background: #E6DEF0;
}
.global_leg8{
    position: absolute;
    top: 359px;
    left: 25%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius: 300px;
    width: 800px;
	height: 32.5px;
	background: #E6DEF0;
}
.global_leg9{
    position: absolute;
    top: 401px;
    left: 25%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius: 300px;
    width: 800px;
	height: 32.5px;
	background: #E6DEF0;
}
.global_leg10{
    position: absolute;
    top: 443px;
    left: 25%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius: 300px;
    width: 800px;
	height: 32.5px;
	background: #E6DEF0;
}
.global_leg11{
    position: absolute;
    top: 489px;
    left: 25%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius: 300px;
    width: 800px;
	height: 32.5px;
	background: #E6DEF0;
}
.global_leg12{
    position: absolute;
    top: 533px;
    left: 25%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius: 300px;
    width: 800px;
	height: 32.5px;
	background: #E6DEF0;
}
.planned_leg1{
    position: relative;
    top: 16px;
    left: 85%;       /*двигать горизонтально лапы 2020*/
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius: 300px;
    width: 190px;   /*длина лап 2020*/
	height: 32.5px;
	background: #D0C3E2;
}
.planned_leg2{
    position: relative;
    top: 16px;
    left: 75%;       /*двигать горизонтально лапы 2020*/
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius: 300px;
    width: 200px;   /*длина лап 2020*/
	height: 32.5px;
	background: #D0C3E2;
}
.planned_leg3{
    position: relative;
    top: 16px;
    left: 80%;       /*двигать горизонтально лапы 2020*/
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius: 300px;
    width: 300px;   /*длина лап 2020*/
	height: 32.5px;
	background: #D0C3E2;
}
.planned_leg4{
    position: relative;
    top: 16px;
    left: 70%;       /*двигать горизонтально лапы 2020*/
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius: 300px;
    width: 300px;   /*длина лап 2020*/
	height: 32.5px;
	background: #D0C3E2;
}
.planned_leg5{
    position: relative;
    top: 16px;
    left: 70%;       /*двигать горизонтально лапы 2020*/
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius: 300px;
    width: 300px;   /*длина лап 2020*/
	height: 32.5px;
	background: #D0C3E2;
}
.planned_leg6{
    position: relative;
    top: 16px;
    left: 50%;       /*двигать горизонтально лапы 2020*/
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius: 300px;
    width: 550px;   /*длина лап 2020*/
	height: 32.5px;
	background: #D0C3E2;
}
.planned_leg7{
    position: relative;
    top: 16px;
    left: 70%;       /*двигать горизонтально лапы 2020*/
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius: 300px;
    width: 300px;   /*длина лап 2020*/
	height: 32.5px;
	background: #D0C3E2;
}
.planned_leg8{
    position: relative;
    top: 16px;
    left: 80%;       /*двигать горизонтально лапы 2020*/
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius: 300px;
    width: 200px;   /*длина лап 2020*/
	height: 32.5px;
	background: #D0C3E2;
}
.planned_leg9{
    position: relative;
    top: 16px;
    left: 76%;       /*двигать горизонтально лапы 2020*/
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius: 300px;
    width: 300px;   /*длина лап 2020*/
	height: 32.5px;
	background: #D0C3E2;
}
.planned_leg10{
    position: relative;
    top: 16px;
    left: 76%;       /*двигать горизонтально лапы 2020*/
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius: 300px;
    width: 300px;   /*длина лап 2020*/
	height: 32.5px;
	background: #D0C3E2;
}
.planned_leg11{
    position: relative;
    top: 16px;
    left: 85%;       /*двигать горизонтально лапы 2020*/
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius: 300px;
    width: 180px;   /*длина лап 2020*/
	height: 32.5px;
	background: #D0C3E2;
}

.present_leg1{
    position: absolute;
    top: 16px;
    left: 98%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius: 300px;
    width: 100px;
	height: 32.5px;
	background: #8F6CD7;
}
.present_leg2{
    position: absolute;
    top: 16px;
    left: 90%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius: 300px;
    width: 180px;
	height: 32.5px;
	background: #8F6CD7;
}
.present_leg3{
    position: absolute;
    top: 16px;
    left: 95%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius: 300px;
    width: 150px;
	height: 32.5px;
	background: #8F6CD7;
}
.present_leg4{
    position: absolute;
    top: 16px;
    left: 89%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius: 300px;
    width: 200px;
	height: 32.5px;
	background: #8F6CD7;
}
.present_leg5{
    position: absolute;
    top: 16px;
    left: 88%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius: 300px;
    width: 250px;
	height: 32.5px;
	background: #8F6CD7;
}
.present_leg6{
    position: absolute;
    top: 16px;
    left: 60%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius: 300px;
    width: 650px;
	height: 32.5px;
	background: #8F6CD7;
}
.present_leg7{
    position: absolute;
    top: 16px;
    left: 89%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius: 300px;
    width: 230px;
	height: 32.5px;
	background: #8F6CD7;
}
.present_leg8{
    position: absolute;
    top: 16px;
    left: 89%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius: 300px;
    width: 180px;
	height: 32.5px;
	background: #8F6CD7;
}
.present_leg9{
    position: absolute;
    top: 16px;
    left: 99%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius: 300px;
    width: 120px;
	height: 32.5px;
	background: #8F6CD7;
}
.present_leg10{
    position: absolute;
    top: 16px;
    left: 99%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius: 300px;
    width: 120px;
	height: 32.5px;
	background: #8F6CD7;
}
.present_leg11{
    position: absolute;
    top: 16px;
    left: 91%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius: 300px;
    width: 160px;
	height: 32.5px;
	background: #8F6CD7;
}
.present_leg12{
    position: absolute;
    top: 533px;
    left: 45%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius: 300px;
    width: 35px;
	height: 32.5px;
	background: #8F6CD7;
}

.progress {
    position: relative;
    left: 3.5%;
    width: 800px;
    height: 20px;
    overflow: hidden;
    background: linear-gradient(to right, #ff3232 0%,#ff9600 33%,#ffff00 66%,#00ff00 100%);
}
 
.strips {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to right, transparent 80%, transparent, #fff, #fff 100%);
    background-size: 10px; /* Ширина деления = 6px / 2 = 3px */
}
 
.grayback {
    position: relative;
    left: 80%; /* Текущее состояние */
    width: 100%;
    height: 100%;
    background-color: #ddd;
}
.max_percent{
    position: relative;
    color: #280579;
    left: 40px;
    font-weight: bold;
}
.additional_slot{
    position: relative;
    font-size: 20px;
    color: #280579;
    left: 45%;
    top: 485px;
    font-weight: bold;
}
.java {
    position: relative;
    font-size: 20px;
    color: #280579;
    left: 45%;
    top: 415px;
    font-weight: bold;
}
.JavaScript{
    position: relative;
    font-size: 20px;
    color: #280579;
    left: 45%;
    top: 348px;
    font-weight: bold;
}
.HTML_CSS{
    position: relative;
    font-size: 20px;
    color: #280579;
    left: 45%;
    top: 283px;
    font-weight: bold;
}
.video{
    position: relative;
    font-size: 20px;
    color: #280579;
    left: 45%;
    top: 220px;
    font-weight: bold;
}
.english{
    position: relative;
    font-size: 20px;
    color: #280579;
    left: 45%;
    top: 154px;
    font-weight: bold;
}
.rus{
    position: relative;
    font-size: 20px;
    color: #280579;
    left: 45%;
    top: 89px;
    font-weight: bold;
}
.sport{
    position: relative;
    font-size: 20px;
    color: #280579;
    left: 45%;
    top: 21px;
    font-weight: bold;
}
.self_org{
    position: relative;
    font-size: 20px;
    color: #280579;
    left: 45%;
    top: -42px;
    font-weight: bold;
}
.performance{
    position: relative;
    font-size: 20px;
    color: #280579;
    left: 45%;
    top: -107px;
    font-weight: bold;
}
.resistance{
    position: relative;
    font-size: 20px;
    color: #280579;
    left: 45%;
    top: -172px;
    font-weight: bold;
}
.conversation{
    position: relative;
    font-size: 20px;
    color: #280579;
    left: 45%;
    top: -240px;
    font-weight: bold;
}
.before{
    font-size: 20px;
    position: relative;
    left: 70%;
    top: 200px;
    width: 50px;
	height: 50px;
	background: #8F6CD7;
}
.after{
    font-size: 20px;
    position: absolute;
    left: 75%;
    top: 514px;
    width: 50px;
	height: 50px;
	background: #D0C3E2;
}
